* {
  padding: 0;
  margin: 0;
  outline: 0;
}
html {
  font-family: 'Sonsie One', cursive, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #7cbdda;
  text-align: center;
  position: relative;
}

body h1 {
  font-size: 30px;
  text-transform: uppercase;
}

body button {
  display: inline-block;
  margin: 2% auto;
  font-size: 20px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn {
  display: block;
  margin: 2% auto;
  font-size: 20px;
  background-color: black;
  color: #fff;
  padding: 10px 30px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #f268a8;
  cursor: pointer;
}

.btn:active {
  border: 2px solid hotpink;
}

img.logo {
  width: 40%;
  margin: 1% auto;
  display: block;
}

.choose {
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hotpink;
  align-items: center;
  font-size: 4.8vw;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  display: none;
}

.end {
  background-color: hotpink;
  background-image: url('./images/ppg-end.gif');
  background-size: cover;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4.8vw;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
}

.end-score {
  background-color: #111;
  border-radius: 40px;
  border: 10px solid white;
  padding: 10px;
  text-shadow: 1px 1px 10px #000000;
  color: #f268a8;
  position: relative;
  z-index: 5
}

.end-score::before {
  content: '';
  background-color: transparent;
  border-radius: 40px;
  border: 8px solid #111;
  padding: 5px;
  position: absolute;
  top: -14px;
  left: -14px;
  z-index: 111; 
  width: 100%;
  height: 100%;
}

.end.fail {
  filter: grayscale(100%);
}

#angry {
  background-image: url('./images/angry-buttercup.png');
}

#cool {
  background-image: url('./images/cool-buttercup.png');
}

.girl {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 225px;
  width: 225px;
  display: none;
}