* {
  padding: 0;
  margin: 0;
  outline: 0;
}
html {
  font-family: 'Sonsie One', cursive, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #7cbdda;
  text-align: center;
  position: relative;
}

body button {
  display: inline-block;
  margin: 2% auto;
  font-size: 20px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

h2 {
  font-size: 4vh;
  color: rgb(57, 37, 103);
}

.btn {
  display: block;
  margin: 2% auto;
  font-size: 20px;
  background-color: black;
  color: #fff;
  padding: 10px 30px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #f268a8;
  cursor: pointer;
}

.btn:active {
  border: 2px solid hotpink;
}

img.logo {
  width: 40%;
  margin: 1% auto;
  display: block;
}

.choose {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: hotpink;
  align-items: center;
  font-size: 4.8vw;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  /* display: none; */
}

.choose > * {
  margin: 1% auto;
}

.end {
  background-color: hotpink;
  background-image: url('./images/ppg-end.gif');
  background-size: cover;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4.8vw;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
}

.end-score {
  background-color: #111;
  border-radius: 40px;
  border: 10px solid white;
  padding: 10px;
  text-shadow: 1px 1px 10px #000000;
  color: #f268a8;
  position: relative;
  z-index: 5;
}

.end-score::before {
  content: '';
  background-color: transparent;
  border-radius: 40px;
  border: 8px solid #111;
  padding: 5px;
  position: absolute;
  top: -14px;
  left: -14px;
  z-index: 111;
  width: 100%;
  height: 100%;
}

.end.fail {
  filter: grayscale(100%);
}

#angry {
  background-image: url('./images/angry-buttercup.png');
}

#cool {
  background-image: url('./images/cool-buttercup.png');
}

.girl {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 225px;
  width: 225px;
  display: none;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.col:nth-child(2) {
  height: 80vh;
}

.wrap-canvas {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cn-ih {
  background-color: #000000;
  border: 2px solid #000;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  width: 20vw;
  position: relative;
}

.cn-ih::before {
  contain: 'made in';
  display: block;
  position: absolute;
  top: -5%;
}

.cn-ih li {
  background-color: #000000;
  color: #fff;
  font-family: 'Righteous', cursive;
  font-size: 50px;
  font-weight: bold;
  line-height: 42px;
  text-transform: uppercase;
  width: 24%;
  border: 2px solid #000;
  box-sizing: border-box;
}

.cn-ih li:nth-child(even) {
  background-color: white;
  color: #000000;
}

.cn-ih li:nth-child(5) {
  background-color: white;
  color: #000000;
}
.cn-ih li:nth-child(6) {
  background-color: #000000;
  color: #fff;
}
.cn-ih li:nth-child(7) {
  background-color: white;
  color: #000000;
}
.cn-ih li:nth-child(8) {
  background-color: #000000;
  color: #fff;
}

.select-girl {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

#g1 {
  background-image: url('./images/blossom-home.png');
}
#g1:hover {
  text-shadow: -2px 1px coral;
}

#g2 {
  background-image: url('./images/bubbles-home.png');
}
#g2:hover {
  text-shadow: -2px 1px cornflowerblue;
}

#g3 {
  background-image: url('./images/buttercup-home.png');
}
#g3:hover {
  text-shadow: -2px 1px green;
}

.select-girl li {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 22px;
  color: #111;
  height: 200px;
  width: 200px;
  line-height: 0px;
  text-shadow: -1px 1px darkgrey;
  position: relative;
  top: 0;
  opacity: 0.8;
}

.select-girl li:hover {
  top: -8px;
  cursor: pointer;
  opacity: 1;
}

em {
  margin-top: 4% !important;
  font-size: 16px;
  color: #111;
}

.instructions {
  list-style-type: none;
}

.instructions li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.instructions li:nth-child(1) {
  margin-bottom: 32px;
}

ul.instructions li:nth-child(2) p {
  background-image: url('./images/enter.png');
}

ul.instructions li:nth-child(3) p {
  background-image: url('./images/space.png');
  height: 44px;
  width: 182px;
}

ul.instructions li:nth-child(4) p {
  background-image: url('./images/arrow-up.png');
  height: 50px;
  width: 50px;
}

ul.instructions li:nth-child(5) p {
  background-image: url('./images/arrow-down.png');
  height: 50px;
  width: 50px;
}

ul.instructions li:nth-child(6) {
  margin-top: 20%;
}

ul.instructions li p{
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
}

.hide {
  display: none;
}
